<div id="sidebar" class="sidebar sidebar-with-footer">
    <!-- Aplication Brand -->
    <div class="app-brand">
        <a href="#">
            <img src="~/Library/Images/logo.png" alt="Mono">
            <span class="brand-name">TMS</span>
        </a>
    </div>
    <!-- begin sidebar scrollbar -->
    <div class="sidebar-left" data-simplebar style="height: 100%;">
        <!-- sidebar menu -->
        <ul class="nav sidebar-inner" id="sidebar-menu">
            <li class="active">
                <a class="sidenav-item-link" href="/Home/index">
                    <i class="mdi mdi-briefcase-account-outline"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            @*<li class="section-title">
                Apps
            </li>*@
            <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#Master"
                   aria-expanded="false" aria-controls="Master">
                    <i class="mdi mdi-mastodon"></i>
                    <span class="nav-text">Masters</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="Master" data-parent="#sidebar-menu">
                    <div class="sub-menu pt-0">
                        <li>
                            <a class="sidenav-item-link Loader_On" href="/Department/index">
                                <span class="nav-text">Department</span>

                            </a>
                        </li> 
                        <li>
                            <a class="sidenav-item-link Loader_On" href="/Designation/Index">
                                <span class="nav-text">Designation</span>

                            </a>
                        </li>     
                        <li>
                            <a class="sidenav-item-link Loader_On" href="/Category/Index">
                                <span class="nav-text">Category</span>

                            </a>
                        </li>    
                        <li>
                            <a class="sidenav-item-link Loader_On" href="/Sub_Category/Index">
                                <span class="nav-text">Sub Category</span>

                            </a>
                        </li>       
                        <li>
                            <a class="sidenav-item-link Loader_On" href="/Ticket/Index">
                                <span class="nav-text">Ticket</span>

                            </a>
                        </li>      
                        <li>
                            <a class="sidenav-item-link Loader_On" href="/Rights/Index">
                                <span class="nav-text">Rights</span>

                            </a>
                        </li>
                    </div>
                </ul>
            </li>  
            <li class="has-sub">
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#admin"
                   aria-expanded="false" aria-controls="admin">
                    <i class="mdi mdi-email"></i>
                    <span class="nav-text">Admin</span> <b class="caret"></b>
                </a>
                <ul class="collapse" id="admin" data-parent="#sidebar-menu">
                    <div class="sub-menu pt-0">
                        <li>
                            <a class="sidenav-item-link Loader_On" href="/User/Index">
                                <span class="nav-text">Users</span>

                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            @*<li>
                    <a class="sidenav-item-link" href="#">
                        <i class="mdi mdi-wechat"></i>
                        <span class="nav-text">Chat</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href="#">
                        <i class="mdi mdi-phone"></i>
                        <span class="nav-text">Contacts</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href="#">
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Team</span>
                    </a>
                </li>
                <li>
                    <a class="sidenav-item-link" href="#">
                        <i class="mdi mdi-calendar-check"></i>
                        <span class="nav-text">Calendar</span>
                    </a>
                </li>*@
            @*<li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#email"
                       aria-expanded="false" aria-controls="email">
                        <i class="mdi mdi-email"></i>
                        <span class="nav-text">email</span> <b class="caret"></b>
                    </a>
                    <ul class="collapse" id="email" data-parent="#sidebar-menu">
                        <div class="sub-menu">
                            <li>
                                <a class="sidenav-item-link" href="#">
                                    <span class="nav-text">Email Inbox</span>

                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="#">
                                    <span class="nav-text">Email Details</span>

                                </a>
                            </li>
                            <li>
                                <a class="sidenav-item-link" href="#">
                                    <span class="nav-text">Email Compose</span>

                                </a>
                            </li>
                        </div>
                    </ul>
                </li>*@
        </ul>
    </div>

    <div class="sidebar-footer">
        <div class="sidebar-footer-content">
            <ul class="d-flex">
                <li>
                    <a href="#" data-toggle="tooltip" title="Profile settings"><i class="mdi mdi-settings"></i></a>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" title="No chat messages"><i class="mdi mdi-chat-processing"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
