<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>@ViewBag.Title</title>
<!--Meta -->
<meta name="theme-TMS" content="TMS" />
<!-- FAVICON -->
<link href="~/Library/Images/favicon.png" rel="shortcut icon" />
@Styles.Render("~/CSS/Master")
<link href="~/Library/CSS/ladda.min.css" rel="stylesheet" />
@*@Scripts.Render("~/Scripts/NProgress")*@
<!-- GOOGLE FONTS -->
@*<link id="main-css-href" href="~/Library/CSS/font.css" rel="stylesheet" />
    <link href="~/Library/CSS/Icons/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Library/CSS/simplebar.css" rel="stylesheet" />*@
<!-- PLUGINS CSS STYLE -->
@*<link href="~/Library/CSS/nprogress.css" rel="stylesheet" />
    <link href="~/Library/CSS/daterangepicker.css" rel="stylesheet" />
    <link id="main-css-href" href="~/Library/CSS/quill.snow.css" rel="stylesheet" />
    <link href="~/Library/CSS/toastr.min.css" rel="stylesheet" />*@
<!-- TMS CSS -->
@*<link id="main-css-href" href="~/Library/CSS/style.css" rel="stylesheet" />*@
@*<script src="~/Library/Scripts/nprogress.js"></script>*@
